/*====================================================
                    全局选中变换背景色
======================================================*/
::selection {
	background: rgba(35, 122, 45, 0.4);
	color: #fff;
}

::-moz-selection {
	background: rgba(35, 122, 45, 0.4);
	color: #fff;
}

::-webkit-selection {
	background: rgba(35, 122, 45, 0.4);
	color: #fff;
}

/*====================================================
                    头部侧边导航栏css
======================================================*/
#slideNav {
	/* height: 100%; */
	background-color: transparent;
	z-index: 125;
	position: absolute;
	width: 350px;
}

#slideNav .slideNavBtn {
	position: fixed;
	top: 4%;
	left: 2%;
	z-index: 150;
	width: 20px;
	height: 20px;
	/* background: #3FD5D7; */
	/* cursor: pointer; */
}

#slideNav .slideNavBtn img {
	width: 20px;
	height: 20px;
	cursor: pointer;
}

#slideNav nav {
	/* z-index: 100; */
}

#slideNav nav .logo {
	width: 157px;
	height: 60px;

}

#slideNav  #mobileShowLogo {
	display: none;
	position: fixed;
	/* border: 1px solid #ccc; */
	left: 10px;
	top: 8px;
	z-index: 3000;
}
#slideNav #mobileShowLogo img{
	display: block;
	width: 60px;
	height: 60px;
	border: 1px solid #000;
}
#slideNav nav .logo img {
	/* display: block; */
	width: 60px;
	height: 60px;
	border: 1px solid #ccc;
}

#slideNav nav #navClassA {
	width: 157px;
	height: 600px;
	background: rgba(0, 0, 0, 0.4);
}

#slideNav .currentLi {
	background: url(../img/slideNavLiBg.gif) left no-repeat;
	background-size: 15px 25px;
}

#slideNav nav #navClassA>li {
	/* position: relative; */
	padding-top: 14px;
	height: 65px;
	/* line-height: 26px; */
}

#slideNav nav #navClassA>li a p {
	margin-bottom: 6px;
}

#slideNav nav #navClassA>li:hover {
	background: url(../img/slideNavLiBg.gif) left no-repeat;
	background-size: 15px 25px;
}

#slideNav nav #navClassA>li>a:hover {
	color: #189324;
}

#slideNav nav #navClassB {
	display: none;
	width: 167px;
	background: rgba(0, 0, 0, 0.4);
	left: 157px;
	top: -52px;
}

#slideNav nav #navClassB a {
	/* display: block; */
	height: 46px;
	line-height: 46px;
}

#slideNav nav #navClassB dt:hover {
	background: rgba(35, 122, 45, 0.4);
}

#slideNav nav #navClassA>li:hover #navClassB {
	display: block;
}

/*====================================================
                    首页轮播图css
======================================================*/
#indexBanner {
	position: fixed;
	top: 0;
	/* width: 100%; */
	height: 100vh;
	/* background: url(../img/indexBanner1.gif); */
	/* background-size: 100% 100%; */
	z-index: 120;
}

/* #indexBanner ul{
	height:100%;
} */
#indexBanner .slides li {
	/* display: block; */
	height: 100%;
	transform: rotateY(180deg);
}

#indexBanner #indexBanner1 {
	background: url(../img/indexBanner1.gif);
	background-size: 100% 100%;
}

#indexBanner #indexBanner2 {
	background: url(../img/indexBanner2.gif);
	background-size: 100% 100%;
}

#indexBanner #indexBanner3 {
	background: url(../img/indexBanner3.jpg);
	background-size: 100% 100%;
}

#indexBanner #indexBanner4 {
	background: url(../img/indexBanner4.jpg);
	background-size: 100% 100%;
}

#indexBanner #indexBanner5 {
	background: url(../img/indexBanner5.gif);
	background-size: 100% 100%;
}

#indexBanner li div {
	width: 800px;
	height: 200px;
	padding-top: 30px;
	/* margin: 0 auto;
	position: relative; */
	top: 50%;
	transform: translateY(-50%);
	background: rgba(0, 0, 0, .5);

}

#indexBanner li div h2 {
	font-size: 52px;
	/* margin: 56px 0 50px; */
	transform: rotateY(180deg) !important;
}

#indexBanner li div p {
	margin-top: 30px;
	transform: rotateY(180deg) !important;
}

/* .flex-direction-nav{
	z-index: 2000;
	height: 100%;
}
.flex-direction-nav li{
	z-index: 2000;
	height: 100%;
} */

#indexBanner .flex-direction-nav li a {
	display: block;
	width: 40px;
	height: 30px;
	/* overflow: hidden; */
	cursor: pointer;
	position: absolute;
	z-index: 2000;
	top: 90%;
	/* cursor: pointer; */
}

#indexBanner .flex-direction-nav li a.flex-prev {
	left: 47%;
	background: rgba(0, 0, 0, 0.4) url(../img/prevBtn.gif) center center no-repeat;
	background-size: 20px 30px;
}

#indexBanner .flex-direction-nav li a.flex-next {
	right: 47%;
	background: rgba(0, 0, 0, 0.4) url(../img/nextBtn.gif) center center no-repeat;
	background-size: 20px 30px;
}
