@media screen and (min-width:320px) and (max-width:768px){
	/*====================================================
	                手机端头部侧边导航栏css
	======================================================*/
	#slideNav{
		width: 100%;
		height: 85%;
	}
	#slideNav .slideNavBtn {
		width: 30px;
		height: 30px;
		left: 85%;
	}
	#slideNav .slideNavBtn img {
		width: 25px;
		height: 22px;
		
	}
	#slideNav nav{
		display: none;
	}
	#slideNav nav .logo img{
		float: none!important;
		margin: 8px 10px 0;
	}
	#slideNav #mobileShowLogo{
		display: block;
		
	}
	#slideNav nav #navClassA {
		/* display: none; */
	    width: 100%;
		height: 100vh;
		background: rgba(0, 0, 0, 0.9);
	}
	#slideNav nav #navClassA>li {
	    padding-top: 0px;
	    height: 54px;
		line-height: 54px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	}
	#slideNav nav #navClassA>li a{
		display: flex;
		justify-content: center;
		height: 100vh;
		font-size: 16px;
	}
	#slideNav nav #navClassA>li a #p2{
		/* margin-right: 10px; */
		display: none;
	}
	#slideNav .currentLi{
		background: none;
	}
	/*====================================================
	                手机端首页轮播图css
	======================================================*/
	#indexBanner .slides li {
		transform: rotateY(0deg);
	}
	#indexBanner li div {
	    width: 85%;
	    height: 170px;
		padding: 30px 2%;
	}
	#indexBanner li div h2 {
	    font-size: 30px;
	    transform: rotateY(0deg)!important;
	}
	#indexBanner li div p{
		margin-top: 15px;
		font-size: 14px;
		transform: rotateY(0deg)!important;
	}
	#indexBanner .flex-direction-nav li a.flex-prev {
	    left: 37%;
	}
	#indexBanner .flex-direction-nav li a.flex-next {
	    right: 37%;
	}
}
@media screen and (min-width: 782px) {
	#slideNav  #mobileShowLogo {
		display: none!important;
	}
}